<h1><%= title %></h1>
<p>Students all around: <%= title %></p>

<form action="students/addStudent" action="students" method="GET">
    <input type="submit" value="Add Student">
</form>

<h1>Students in class</h1>
<% students.forEach(student => { %>
    <strong> <%= student.studentNo %></strong>
    <span> 
        <label >Student First Name: </label>
        <%= student.studentName %>
        <label >Student Surname: </label>
        <%= student.studentSurname %>
        <label >Student Grade: </label>
        <strong><%= student.studentGrade %></strong>
    </span>

    <br />
<% });%>